# Ignore node_modules
node_modules

# Ignore Git and version control
.git
.gitignore

# Ignore build output
dist

# Ignore logs
*.log

# Ignore editor settings
.vscode
.idea

# Ignore other non-essential files
README.md
Dockerfile
.dockerignore
